{% extends "base.html" %}
{% block content %}

    <!-- contact form utilising materialize css -->
    <div class="row">
      <form class="col s12 m10 offset-m1 l8 offset-l2 grey lighten-4" method="POST" action="{{ url_for('contact') }}">
        <h2>Contact Us</h2>

        <!-- Name input field -->
        <div class="row form-row">
          <div class="input-field col s12">
            <input placeholder="Your Name" name="name" id="name" type="text" 
              minlength="3" maxlength="25" class="validate" required>
            <label for="name"><i class="fas fa-user form-icon"></i>Your Name</label>
          </div>
        </div>
        
        <!-- Email address input field -->
        <div class="row form-row">
          <div class="input-field col s12">
            <input placeholder="Your email" id="email" name="email" type="email" 
              minlength="5" maxlength="30" class="validate" required>
            <label for="email"><i class="fas fa-envelope form-icon"></i>Your Email address</label>
          </div>
        </div>

        <!-- message input field -->
        <div class="row form-row">
            <div class="input-field col s12">
                <textarea id="message" name="message" class="materialize-textarea validate" placeholder="Your Message" required></textarea>
                <label for="message"><i class="fas fa-pencil-alt form-icon"></i>Your message</label>
            </div>
        </div>

        <!-- submit button -->
        <div class="center-align">
          <button class="btn waves-effect waves-light red darken-4 center-align button-send" type="submit">Send Message
            <i class="fas fa-envelope"></i>
          </button>
        </div>

      </form>
    </div>


{% endblock %}